.card {
  display: flex;
  flex-direction: column;
  /* max-width: 200px; */
  max-height: 250px;
  /* outline: auto; */
  border: 3px solid black;
  gap: 20px;
  padding: 20px 20px 20px 20px;
  align-items: center;
  border-radius: 8px;
  transition: 0.4s ease;
}
.card:hover {
  transform: scale(1.02);
}
.card img {
  height: 100%;
  width: 100%;
  border-radius: inherit;
}
.card .cardName {
  color: black;
  font-weight: bold;
  font-family: cursive, Helvetica, sans-serif;
}
