header {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;font-family: 'Courier New', Courier, monospace;
}
.scoresWrapper {
  gap: 10px;
  display: flex;
}