body {
  margin: 0;
  padding: 0;
}
h4 {
  margin: 20px 10%;
}
.btn1 {
  margin: 10px 10%;
  margin-bottom: 20px;
  background-color: black;
  color: white;
  font-size: 1rem;
  padding: 10px 35px;
  cursor: pointer;
  outline: none;
  border: none;
}
.btn1:hover {
  transform: scale(1.02);
  
}